development:
  secret_key_base: 517a4eb6769e6ce0399f4e345873ecd1d2d92b11e53b7ec0a281a6ceaa3762d627211d92d0de478198dad362417343993262c983c161004c47756ec1ff4511b8
  accounts:
    sso:
      secret_key: <%= ENV["SSO_SHARED_SECRET"] ||
                      '265127c36133669bedcf47f326e64e22623c1be35fffe04199f0d86bf45a3485' %>
      secret_salt: <%= ENV["SSO_SHARED_SECRET_SALT"] || 'ox-shared-salt' %>
      cookie_name: <%= ENV["SSO_COOKIE_NAME"] || 'ox' %>

test:
  secret_key_base: 1b42c4386b75cda9a082a05fee60398c037b52ed0b6f059ff116c33b84f3ea3dfff036e79273e1e3dd59f325fd2ed179de2937b06778d38343591a2032b0b424
  accounts:
    sso:
      secret_key: <%= ENV["SSO_TEST_SHARED_SECRET"] ||
                      '265127c36133669bedcf47f326e64e22623c1be35fffe04199f0d86bf45a3485' %>
      secret_salt: <%= ENV["SSO_SHARED_SECRET_SALT"] || 'ox-shared-salt' %>
      cookie_name: <%= ENV["SSO_COOKIE_NAME"] || 'ox' %>

production:
  secret_key_base: random(hex,80)
  database:
    url: "{{ database_endpoint }}"
    port: "{{ database_port }}"
    name: "{{ database_name }}"
    username: "{{ database_username }}"
    password: "{{ database_password }}"
  sentry:
    dsn: ssm(sentry_dsn)
  accounts:
    sso:
      secret_key: ssm(sso_secret_key)
      secret_salt: ssm(sso_secret_salt)
      cookie_name: ssm(sso_cookie_name)
